# macOS
.DS_Store

# Xcode
build/
DerivedData/
*.xcuserstate
*.xcuserdatad/
xcuserdata/
*.xcscmblueprint
*.xccheckout

# Swift Package Manager
.swiftpm/
Package.resolved
.build/

# CocoaPods (if ever used)
Pods/

# Carthage
Carthage/Build/
